<div th:fragment="navbar">
<nav >
      <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="#">Rafmak</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Rafmak</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
        
        
          <li>
          <a th:href="@{/products/sanders}">Abrazives</a>
              <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li class="more">
                <span><a th:href="@{/products/sanders/discs}">Discs</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="disc : ${discs}"> <a
                th:text="${disc.name}" th:href="@{/products/sander/{id}(id=${disc.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/sanders/blocks}">Blocks</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="block : ${blocks}"> <a
                th:text="${block.name}" th:href="@{/products/sander/{id}(id=${block.id})}" ></a></li>
                </ul>
              </li>
              <li class="more">
                <span><a th:href="@{/products/sanders/rolls}">Rolls</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="roll : ${rolls}"> <a
                th:text="${roll.name}" th:href="@{/products/sander/{id}(id=${roll.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/sanders/softs}">Softs</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="soft : ${softs}"> <a
                th:text="${soft.name}" th:href="@{/products/sander/{id}(id=${soft.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/sanders/wets}">WPF</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="wet : ${wets}"> <a
                th:text="${wet.name }" th:href="@{/products/sander/{id}(id=${wet.id})}" ></a></li>
                </ul>
              </li>
              
            </ul>
          </li>
          
          
          
          
          <li>
            <a th:href="@{/products/coats}">Coats & Primers</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li class="more">
                <span><a th:href="@{/products/coats}">Coats</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="coat : ${coats}"> <a
                th:text="${coat.name}" th:href="@{/products/coat/{id}(id=${coat.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/primers}">Primers</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="primer : ${primers}"> <a
                th:text="${primer.name}" th:href="@{/products/primer/{id}(id=${primer.id})}" ></a></li>
                </ul>
              </li>
              <li class="more">
                <span><a th:href="@{/products/hardeners}">Hardeners</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="hardener : ${hardeners}"> <a
                th:text="${hardener.name}" th:href="@{/products/hardener/{id}(id=${hardener.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/thinners}">Thinners</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="thinner : ${thinners}"> <a
                th:text="${thinner.name}" th:href="@{/products/thinner/{id}(id=${thinner.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/putties}">Putties</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="putty : ${putties}"> <a
                th:text="${putty.name}" th:href="@{/products/putty/{id}(id=${putty.id})}" ></a></li>
                </ul>
              </li>
              
            </ul>
            
          </li>
          
           <li>
            <a th:href="@{/products/tools}">Tools&Equip</a>
            <i class='bx bxs-chevron-down htmlcss-arrow1 arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li class="more">
                <span><a th:href="@{/products/tools}">Tools</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="tool : ${tools}"> <a
                th:text="${tool.name}" th:href="@{/products/tool/{id}(id=${tool.id})}" ></a></li>
                </ul>
              </li>
              
               <li class="more">
                <span><a th:href="@{/products/guns}">Sprays</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="gun : ${guns}"> <a
                th:text="${gun.name}" th:href="@{/products/sprayGun/{id}(id=${gun.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/nozzles}">Nozzles</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="nozzle : ${nozzles}"> <a
                th:text="${nozzle.description}" th:href="@{/products/nozzle/{id}(id=${nozzle.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/helpers}">Blocks</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="helper : ${helpers}"> <a
                th:text="${helper.name}" th:href="@{/products/helper/{id}(id=${helper.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/safeties}">Safety</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="safety : ${safeties}"> <a
                th:text="${safety.name}" th:href="@{/products/safety/{id}(id=${safety.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/extrass}">Extras</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="extra : ${extrass}"> <a
                th:text="${extra.name}" th:href="@{/products/extras/{id}(id=${extra.id})}" ></a></li>
                </ul>
              </li>
             </ul>
            </li>
          
          
          <li>
            <a th:href="@{/products/polishes}">Polish</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li class="more">
                <span><a th:href="@{/products/polishes}">Polish</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="polish : ${polishes}"> <a
                th:text="${polish.name}" th:href="@{/products/polish/{id}(id=${polish.id})}" ></a></li>
                </ul>
              </li>
              
              <li class="more">
                <span><a th:href="@{/products/pads}">Pads</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              
                <ul class="more-sub-menu sub-menu">
                  <li th:each="pad : ${pads}"> <a
                th:text="${pad.name}" th:href="@{/products/pads/{id}(id=${pad.id})}" ></a></li>
                </ul>
              </li>
              
            </ul>
            
          </li>
          
          
          <li>
          <div sec:authorize="isAuthenticated()">
             <a  th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
          </div>
             
         </li>
         
          <li sec:authorize="hasRole('ROLE_ADMIN')" >
          <span><a th:href="@{/admin}">Administration</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
         </li>
         <!--  
          <li sec:authorize="isAuthenticated()">
          <div>
             <a  th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a>
          </div>
         </li>
         -->
        </ul>
      </div>
      
      <div class="search-box" >
        <i class='bx bxs-user'></i>
        
         <div class="input-box" sec:authorize="hasRole('ROLE_ANONYMOUS')">
          <form th:action="@{/login}" method="post">
             <input class="input1" type="text"  placeholder="Email" name="username" required >
             <input class="input2" type="password" placeholder="Password" name="password" required>
              <button class="login" type="submit">Login</button>
             </form>
             <p>Not registered? <span>Click <a th:href="@{/register}" >here</a></span></p>
              <a class="forgot" th:href="@{/forgotPassword}" >Forgot Password ?</a>
        </div>
        
        <div class="input-box" sec:authorize="isAuthenticated()">
        
        <ul>
          <li>
          <div>
          <a  th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
          
          </li>
          
          <li>
          <div>
          <i class="fas fa-user"></i>
            <span sec:authentication="principal.username" id="user"></span>
          </div>
          
          </li>
          
        </ul>
          
          
         
        </div>
      </div>
     
    </div>
  </nav>
           
            
            </div>