<div th:fragment = "sidebar">
  <div class="sidebar">
    <ul>
       <li>
          <a th:href="@{/helpers}">Helpers</a>
       </li>
       <li>
          <a th:href="@{/sanders}">Sanders</a>
       </li>
       <li>
          <a th:href="@{/thinners}">Thinners</a>
       </li>
       <li>
          <a th:href="@{/putties}">Putties</a>
       </li>
       <li>
          <a th:href="@{/hardeners}">Hardener</a>
       </li>
       <li>
          <a th:href="@{/coats}">Coats</a>
       </li>
       <li>
          <a th:href="@{/polishes}">Polishes</a>
       </li>
       <li>
          <a th:href="@{/pads}">Coats</a>
       </li>
    </ul>
  </div>
</div>