<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <style>
 
    </style>
</head>

<body>

<h1>Hello</h1>

<form th:action="@{/newPrimer}" th:object="${primer}" method="post">
<div>
<label>Description</label>
  <input type="text" th:field="*{name}" />
  <label>Description</label>
  <input type="text" th:field="*{description}" />
 
  <label>Price</label>
  <input type="text" th:field="*{price}" />
 </div>
 <div>
 <label>Quantity</label>
 <input type="text" th:field="*{qty}" />
 
  <label>Image Url</label>
 <input type="text" th:field="*{imageUrl}" />
 </div>
 
 <div>
 
 <label>Manufacturer</label>
 <select  th:field="*{manufacturer}">
     <option value="">-Select-</option>
      <option th:each="manufacturer : ${manufacturers}"
        th:value="${manufacturer.id}"
        th:text="${manufacturer.name}"/>
       </select>
       
  <select th:field="${primer.weigth}" >
    
      <option th:each="weigth : ${T(com.example.erafmak.coatsAndPrimers.entity.Weigth).values()}"
      
      th:value="${weigth}"
            th:text="${weigth.displayValue}"/>
       </select>   
       
         <div class="col">
      <label >Select Harters:</label>
     <div class="form-group">
    <ul>
        <li th:each="hardener : ${hardeners}"><input type="checkbox"
                th:field="*{hardeners}" th:value="${hardener.id}"   /> <label
                th:text="${hardener.description + ' ' + hardener.description}"></label></li>
</ul>
  
  </div>
      
      
    </div>
 
 <button type="submit">Create</button>
 
 </div>
</form>

</body>

</html>