<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <style>
 
    </style>
</head>

<body>

<h1>Hello New Sander</h1>

<form th:action="@{/newSander}" th:object="${sander}" method="post">
<div>
  <label>Description</label>
  <input type="text" th:field="*{name}" />
 
  <label>Price</label>
  <input type="text" th:field="*{price}" />
 </div>
 <div>
 <label>Quantity</label>
 <input type="text" th:field="*{qty}" />
 
  <label>Image Url</label>
 <input type="text" th:field="*{imageUrl}" />
 </div>
 
 <div>
 <label>Pieces</label>
 <input type="text" th:field="*{piecesInPack}" />
 
  <label>Type</label>
  <select th:field="${sander.type}" >
    
      <option th:each="type : ${T(com.example.erafmak.abraziveMaterials.sander.Type).values()}"
      
      th:value="${type}"
            th:text="${type.displayValue}"/>
       </select> 
 </div>
 
 <div>
 <label>Condition</label>
  <select th:field="${sander.condition}" >
    
      <option th:each="condition : ${T(com.example.erafmak.abraziveMaterials.sander.Condition).values()}"
      
      th:value="${condition}"
            th:text="${condition.displayValue}"/>
       </select>
 
  <label>Granulation</label>
  <select th:field="${sander.granulation}" >
    
      <option th:each="granulation : ${T(com.example.erafmak.abraziveMaterials.sander.Granulation).values()}"
      
      th:value="${granulation}"
            th:text="${granulation.displayValue}"/>
       </select> 
 </div>
 
 <div>
 
 <label>Manufacturer</label>
 <select  th:field="*{manufacturer}">
     <option value="">-Select-</option>
      <option th:each="manufacturer : ${manufacturers}"
        th:value="${manufacturer.id}"
        th:text="${manufacturer.name}"/>
       </select>
       
  <select th:field="${sander.dimension}" >
    
      <option th:each="dimension : ${T(com.example.erafmak.abraziveMaterials.sander.Dimension).values()}"
      
      th:value="${dimension}"
            th:text="${dimension.displayValue}"/>
       </select>     
 
 <button type="submit">Create</button>
 
 </div>
</form>

</body>

</html>