<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  <link rel="stylesheet" th:href="@{/css/forms.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
<form th:action="@{/create/newSander}" th:object="${sander}" enctype="multipart/form-data" method="post">
<div>
  <label>Description</label>
  <input type="text" th:field="*{name}" />
 
  <label>Price</label>
  
 </div>
 <div>
 <label>Quantity</label>
 
 
  <label>Image Url</label>
 <input type="text" th:field="*{imageUrl}" />
 </div>
 
 <div>
 <label>Pieces</label>
 <input type="text" th:field="*{piecesInPack}" />
 
  <label>Type</label>
  <select th:field="${sander.type}" >
    
      <option th:each="type : ${T(com.example.erafmak.abraziveMaterials.sander.Type).values()}"
      
      th:value="${type}"
            th:text="${type.displayValue}"/>
       </select> 
 </div>
 
 <div>
 <label>Condition</label>
  <select th:field="${sander.condition}" >
    
      <option th:each="condition : ${T(com.example.erafmak.abraziveMaterials.sander.Condition).values()}"
      
      th:value="${condition}"
            th:text="${condition.displayValue}"/>
       </select>
 
  
 </div>
 
 <div>
 
 <label>Manufacturer</label>
 <select  th:field="*{manufacturer}">
     <option value="">-Select-</option>
      <option th:each="manufacturer : ${manufacturers}"
        th:value="${manufacturer.id}"
        th:text="${manufacturer.name}"/>
       </select>
       
  <select th:field="${sander.dimension}" >
    
      <option th:each="dimension : ${T(com.example.erafmak.abraziveMaterials.sander.Dimension).values()}"
      
      th:value="${dimension}"
            th:text="${dimension.displayValue}"/>
       </select>     
 
 <button type="submit">Create</button>
 
 </div>
</form>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>