<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>



 <section class='section cocktail-section' th:object="${sander}">
      
       <h2 class ='section-title' th:text="*{name}"></h2>
       <div sec:authorize="hasRole('ROLE_ADMIN')">
         <form th:action="@{/updateSanderName/{id}(id=${sander.id})}" method="post"  >
          <input type="text" name="name" placeholder="update description" >
           <button>change</button>
         </form>
        </div> 
          <br><br><br>
       <div class ='drink'>
        <img th:src="*{imageUrl}" alt='image' />
 
        <div class="container">
           <div class="header"><h3>Details</h3></div>
            <div class="main">
             <div class="leftSide" style="text-align:left">
               
                    <p >
          Manufacturer
            <span th:text="*{manufacturer.name}" class='drink-data'></span> 
          </p>
          <div sec:authorize="hasRole('ROLE_ADMIN')">
           <form th:action="@{/updateSanderManufacturer/{id}(id=${sander.id})}" method="post" >
            <select  th:name="manufacturer">
             <option value="">-Select-</option>
             <option th:each="manufacturer : ${manufacturers}"
              th:value="${manufacturer.name}"
              th:text="${manufacturer.name}"/>
             </select>
             <button>change</button>
            </form>
           </div>
         <p >
          Dimension
            <span th:text="*{dimension.displayValue}" class='drink-data'></span> 
          </p>
          
          <p >
          Condition
            <span th:text="*{condition.displayValue}" class='drink-data'></span> 
          </p>
          
          <p >
          Type
            <span th:text="*{type.displayValue}" class='drink-data'></span> 
          </p>
             
              </div>
              <div class="rightSide">
              <div class="thirdItem">
                
                  <ul>
                  <li th:each="gran : ${sander.granulationQty}"> <p
                th:text="'p'+${gran.granulation.displayValue} + ' : ' + ${gran.price}+' den '  + ${gran.qty}"  ></p>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/addQuantityToSanderPerGranulation/{id}/{gid}(id=${sander.id},gid=${gran.id})}" method="post">
                <input name="quantity" placeholder="add more qty" type="text"/>
                <button >add</button>
                </form>
                
                <form th:action="@{/updateSanderPrice/{id}/{gid}(id=${sander.id},gid=${gran.id})}" method="post">
                <input name="price" placeholder="set new price" type="text"/>
                <button >add</button>
                </form>
                </div>
                
                </li>
                </ul>
      
       </div>
       <div>
                 </div>
                </div>
               </div>
              </div>
        
        
       </div>
    </section>


<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>