<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rafmak</title>
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
 
    </style>
</head>

<body>
  <div th:replace="fragments/navbar :: navbar"></div>



 <section class='section cocktail-section' th:object="${safety}">
      
       <h2 class ='section-title' th:text="*{name}"></h2>
       <form th:action="@{/updateSafetyName/{id}(id=${safety.id})}" method="post"  >
          <input type="text" name="name" placeholder="update description" >
          <button>change</button>
          </form>
          <br><br><br>
       <div class ='drink'>
        <img th:src="*{imageUrl}" alt='image' />
 
        <div class="container">
           <div class="header"><h3>Details</h3></div>
            <div class="main">
             <div class="leftSide" style="text-align:left">
               
           <article class='desc'>
                 
                  <h6 th:text="*{description}"></h6>
                  <form th:action="@{/updateSafetyDescription/{id}(id=${safety.id})}" method="post"  >
          <input type="text" name="description" placeholder="update description" >
          <button>change</button>
          </form>
               </article>
              </div>
              <div class="rightSide">
              <div class="thirdItem">
              
               <p >
               Manufacturer
               <span th:text="*{manufacturer.name}" class='drink-data'></span> 
               </p>
              <form th:action="@{/updateSafetyManufacturer/{id}(id=${safety.id})}" method="post" >
               <select  th:name="manufacturer">
                <option value="">-Select-</option>
                <option th:each="manufacturer : ${manufacturers}"
                  th:value="${manufacturer.name}"
                  th:text="${manufacturer.name}"/>
              </select>
               <button>change</button>
              </form>
              
              <p >
          Price
            <span th:text="*{price}" class='drink-data'></span> 
          </p>
                
                  <ul>
                  <li th:each="size : ${safety.sizeQty}"> <p
                th:text="'size: '+${size.size.displayValue}"  ></p>
                <div>
                <form th:action="@{/addQuantityToSafetyPerSize/{id}/{sid}(id=${safety.id},sid=${size.id})}" method="post">
                <input name="quantity" placeholder="add more qty" type="text"/>
                <button >add</button>
                </form>
                </div>
                </li>
                </ul>
      
       </div>
       <div>
                 </div>
                </div>
               </div>
              </div>
        
        
       </div>
    </section>


<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
</body>

</html>